<!DOCTYPE html>
<html lang="en">
<head>
<style>
    button  {position: relative; left: 50%; background-color: white; padding: 14px 40px; border-radius: 4px; transition-duration: 0.4s;}
    button:hover {background-color: black;color: white;}
    h1 {color:white; position: relative;left: 51%;}
    p1 {color: grey; position: relative;left: 49%; }
    h2  {color: white}
</style>
</head>
<body>
    <body style="background-color:#2a2e33">
    <h1> ATOS </h1>
    <p1>Auto Test Of Software</p1>
<form>
    <h2><button formaction="http://127.0.0.1:5000/tasks">Tasks</button></h2>
    <h3><button formaction="http://127.0.0.1:5000/profile">Profile</button></h3>
</form>
</body>
</html>