<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" type="image/x-icon" href="static/images/A.ico" >
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylereg.css') }}">
</head>
<body>
    <h1>Log in</h1>
    <div>
    <form  method="post">
        <label for="username"><p1>Username</p1></label><br><br>
    <input type="text" placeholder="Enter your username" name="username" id="username" autocomplete="off" required> <br><br>
        <label for="password"><p1>Password</p1></label><br><br>
    <input type="password" placeholder="Enter Password" name="password" id="password" required><br><br>
    <input type="submit" target="/profile" style="cursor:pointer" value="login">
    </form>
    </div>
</body>
</html>