<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="shortcut icon" type="image/x-icon" href="static/images/A.ico" >
    <title>ATOS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='profile.css') }}">
</head>
<body>
      <h3>{{data[0]}}</h3>
    <div>
      {% if data[2]=='Correct' %}
      <h5>Task 1: &#9989</h5>
      {% else %}
      <h5>Task 1: &#10060</h5>
      {% endif %}
      {% if data[3]=='Correct' %}
      <h5>Task 2: &#9989</h5>
      {% else %}
      <h5>Task 2: &#10060</h5>
      {% endif %}
      {% if data[4]=='Correct' %}
      <h5>Task 3: &#9989</h5>
      {% else %}
      <h5>Task 3: &#10060</h5>
      {% endif %}
      {% if data[5]=='Correct' %}
      <h5>Task 4: &#9989</h5>
      {% else %}
      <h5>Task 4: &#10060</h5>
      {% endif %}
      {% if data[6]=='Correct' %}
      <h5>Task 5: &#9989</h5>
      {% else %}
      <h5>Task 5: &#10060</h5>
      {% endif %}
    </div>
    <br>
    <form>
    <center><button class="button1" formaction="http://127.0.0.1:5000/">Main page</button></center><br>
    <center><button class="button1" formaction="http://127.0.0.1:5000/profile/logout">Log out</button></center>
  </form>
</body>
</html>