<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" type="image/x-icon" href="static/images/A.ico" >
    <title>ATOS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h3>You are not logged in</h3>
    <laber for="reg"><h4>Don't have an account?</h4></laber>
<form>
    <center><button class="button3" name="reg" formaction="http://127.0.0.1:5000/profile/register">register</button></center>
    <laber for="log"><h4>Already have an account?</h4></laber>
    <center><button class="button3" name="log" formaction="http://127.0.0.1:5000/profile/login">login</button></center>
</form>
</body>
</html> 