<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" type="image/x-icon" href="static/A.ico" >
    <title>Register</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <form method="post">
        <label for="username"><b>Username</b></label>
    <input type="text" placeholder="Enter your name" name="username" id="username" required> <br><br>
        <label for="password"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password" id="password" required>
    <input type="submit" style="cursor:pointer" value="register">
    </form>
</body>
</html>