<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="shortcut icon" type="image/x-icon" href="static/images/A.ico" >
  <title>Task5</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles_for_tasks.css') }}">
</head>
<body>
    <h1>Task #5</h1>
    <div class="tasktext">
      <label for="textarea">Всем известно, что ведьмак способен одолеть любых чудовищ, однако его услуги обойдутся недешево. К тому же ведьмак не принимает купюры, он принимает только чеканные монеты. В мире ведьмака существуют монеты с номиналами 1,5,10,25. Напишите программу, которая определяет, какое минимальное количество чеканных монет нужно заплатить ведьмаку.<br><br>

        Формат входных данных:<br>
        На вход программе подается одно натуральное число - цена за услугу ведьмака.<br><br>

        Формат выходных данных:<br>
        Программа должна вывести минимально возможное количество чеканных монет для оплаты.</label>
      </div>
      <br>
      <form>
        <button class="button1" formaction="http://127.0.0.1:5000/profile">Profile</button>
      </form>
      <form action="/tasks/task5/submit" method="post">
        <div class="grow-wrap">
          <textarea id="textarea" name="user_code" rows="15" cols="65" placeholder="Write your code in Python here" required onInput="this.parentNode.dataset.replicatedValue = this.value" spellcheck="false"
          onkeydown="if(event.keyCode===9){var v=this.value,s=this.selectionStart,e=this.selectionEnd;this.value=v.substring(0, s)+'\t'+v.substring(e);this.selectionStart=this.selectionEnd=s+1;return false;}" ></textarea>
        </div>
          <input type="submit" style="cursor:pointer" value="Save your answer">
      </form>
  </body>
  </html>