<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="shortcut icon" type="image/x-icon" href="static/images/A.ico" >
  <title>Task4</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles_for_tasks.css') }}">
</head>
<body>
    <h1>Task #4</h1>
    <div class="tasktext">
      <label for="textarea">Даны три вещественных числа a, b, c. Напишите программу, которая находит вещественные корни квадратного уравнения<br>

        Если уравнение имеет два корня, то следует вывести их в порядке возрастания.<br><br>
        
        Формат входных данных:<br>
        На вход программе подается три вещественных числа a, b, c.<br>
        (a!=0)<br><br>
        
        Формат выходных данных:<br>
        Программа должна вывести вещественные корни уравнения каждый на отдельной строке, если они существуют, или текст «No roots» в противном случае.</label>
      </div>
      <br>
      <form>
        <button class="button1" formaction="http://127.0.0.1:5000/profile">Profile</button>
      </form>
      <form action="/tasks/task4/submit" method="post">
        <div class="grow-wrap">
          <textarea id="textarea" name="user_code" rows="15" cols="65" required onInput="this.parentNode.dataset.replicatedValue = this.value" spellcheck="false"
          onkeydown="if(event.keyCode===9){var v=this.value,s=this.selectionStart,e=this.selectionEnd;this.value=v.substring(0, s)+'\t'+v.substring(e);this.selectionStart=this.selectionEnd=s+1;return false;}" >from math import *
          def quadratic_equation(a,b,c):</textarea>
        </div>
          <input type="submit" style="cursor:pointer" value="Save your answer">
      </form>
  </body>
  </html>