<!DOCTYPE html>
<html lang="en">
<head>
<style>
  button  {position: relative; left: 5%; background-color: white; padding: 14px 40px; border-radius: 4px; transition-duration: 0.4s;}
  button:hover {background-color: black;color: white;}
</style>
</head>
<body>
    <body style="background-color:#2a2e33">
    <h1><font color="white"> Tasks: </font></h1>
<form>
    <h2><button formaction="http://127.0.0.1:5000/tasks/task1">Task 1</button></h2>
    <h3><button formaction="http://127.0.0.1:5000/tasks/task2">Task 2</button></h3>
</form>
</body>
</html>