<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="shortcut icon" type="image/x-icon" href="static/images/A.ico" >
  <title>Task Selection</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='style_for_task_selection.css') }}">
</head>
<body>
    <center><h1>Tasks</h1></center>
    <form>
      <button class="button2" formaction="http://127.0.0.1:5000/profile">Profile</button>
    </form>
<form>
  <hr style="height:2px;border-width:0;color:black;background-color:white"><br>
  <div1><p1>Task #1</p1></div1>
  <br><br>
  <div><p2>Сумма двух чисел</p2></div>
  <h2><button class="button1" formaction="http://127.0.0.1:5000/tasks/task1">Start</button></h2>
  <br>
  <p1>Task #2</p1>
  <br><br>
  <div><p2>Последовательность неубываемых чисел</p2></div>
  <h3><button class="button1" formaction="http://127.0.0.1:5000/tasks/task2">Start</button></h3>
  <br>
  <p1>Task #3</p1>
  <br><br>
  <div><p2>Числа Фибоначи</p2></div>
  <h3><button class="button1" formaction="http://127.0.0.1:5000/tasks/task3">Start</button></h3>
  <br>
  <p1>Task #4</p1>
  <br><br>
  <div><p2>Квадратные уравнения</p2></div>
  <h3><button class="button1" formaction="http://127.0.0.1:5000/tasks/task4">Start</button></h3>
  <br>
  <p1>Task #5</p1>
  <br><br>
  <div><p2>Ведьмаку заплатите</p2></div>
  <h3><button class="button1" formaction="http://127.0.0.1:5000/tasks/task5">Start</button></h3>
</form>
</body>
</html>