<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="shortcut icon" type="image/x-icon" href="static/A.ico" >
  <title>Task2</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles_for_tasks.css') }}">
</head>
<body>
  <h1>Task #2</h1>
  <div class="tasktext">
    <label for="textarea">Дано натуральное число. Напишите программу, которая определяет, является ли последовательность его цифр при просмотре справа налево упорядоченной по неубыванию.<br><br>

      Формат входных данных:<br> 
      На вход программе подается одно натуральное число.<br><br>
      
      Формат выходных данных:<br>
      Программа должна вывести «YES» если последовательность его цифр при просмотре справа налево является упорядоченной по неубыванию и «NO» в противном случае.</label>
    </div>
    <br>
    <form action="/tasks/task2/submit" method="post">
      <div class="grow-wrap">
        <textarea id="textarea" name="user_code" rows="15" cols="65" placeholder="Write your code in Python here" required onInput="this.parentNode.dataset.replicatedValue = this.value" spellcheck="false"
        onkeydown="if(event.keyCode===9){var v=this.value,s=this.selectionStart,e=this.selectionEnd;this.value=v.substring(0, s)+'\t'+v.substring(e);this.selectionStart=this.selectionEnd=s+1;return false;}" ></textarea>
      </div>
        <input type="submit" style="cursor:pointer" value="Save your answer">
    </form>
</body>
</html>